body{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    background-color: #696EE0;
}

#aa-color{
    background-color: #696EE0 !important;
    
}

.card1{
    border: solid black 2px;
    
   
}

.card{
background-color: #696EE0 !important;
color: whitesmoke; 
 

}

#list-group{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
font-size: xx-large;

}

#todayweather{
    background-color: #696EE0;
    color: white;
}

#clear{
    color: whitesmoke;
    
}