body,.aaOne,.card{
   background-image: url("../weather-app/image/weather.jpeg"); 

}

#aa-color{
    /* background-color: #696EE0 !important; */
    
}

.card1{
    /* border: solid black 2px; */
    color: whitesmoke
}

.card{
/* background-color: #696EE0 !important; */
color: whitesmoke; 
 width: fit-content; 
border: solid black 2px;
 

}

#list-group{
font-size: xx-large;
/* background-image: url("../weather-app/image/weather.jpeg"); */

}

#todayweather{
     background-color: #696EE0; 
    color: white;
}

#clear{
    color: whitesmoke;
    
}