#aa-color{
    background-color: #696EE0 !important;
}

.card1{
    border: solid black 1px;
    margin: auto;
   
}

.card{
background-color: #535466 !important;
color: white; 
 

}

#list-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
font-size: xx-large;
}